.card-img-top {
    height: 300px;
}

.nav-link {
    font-family: 'Tenor Sans', sans-serif;
    text-align: center;
    
}

h5 {
    font-size: 17px;
    color: white;
}

h3 {
    font-size: 40px;
}

#card-column{
    margin-top: 60px;
  }